[Desktop Entry]
Version=1.0
Type=Application
Name=buckshot
Comment=Convert modern image formats to Apple II formats
Terminal=false
Categories=Utility;
Exec=AppRun %F
Icon=buckshot.png
